.header {
    grid-area: header;

    .logo {
        width: 33px;

    }


    .header__top {
        margin-top: 13px;
        border-bottom: 2px solid #E7E7E7;

        .header__nav {
            margin-right: 10.5px;
        }

        .header__login {
            margin-top: 10px;
            font-size: 14px;
            line-height: 22px;
            color: #292929;
            text-decoration: none;
            padding-left: 30px;
            background-image: url(../img/login.svg);
            background-repeat: no-repeat;
            background-position: left;
        }

        .header__login:hover {
            color: #948f8f;
        }

        .nav__link:hover {
            color: #8b8888;
        }

        .nav__link {
            font-size: 14px;
            font-size: 14px;
            line-height: 22px;
            color: #292929;
            padding: 0;
            padding-right: 22px;
        }
    }

    .header__bottom {
        border-bottom: 2px solid #E7E7E7;
        min-height: 78px;
        .header__title {
            color: #4E2D2D;
            font-size: 26px;
            font-weight: bold !important;
            line-height: 30px;
        }

        .header__bottom__title {
            margin-right: 20%;
        }

        .header__P {
            color: #4E2D2D;
            font-size: 10px;
            max-width: 220px;
            min-width: 100px;
            font-weight: 700;
            margin-top: -10px;
        }

        .header__delivery {
            padding-top: 20px;
        }

        .delivery__Span {
            color: #808080;
            font-size: 13px;
            max-width: 80px;
            height: 32px;
            display: inline-block;
            padding-left: 40px;
            margin-left: 40px;
        }

        .delivery__Span:hover {
            color: #4b4848;
        }

        .delivery__img {
            background-image: url(../img/delivery.svg);
            background-repeat: no-repeat;
            background-position: left;
        }

        .delivery__img2 {
            background-image: url(../img/protect.svg);
            background-repeat: no-repeat;
            background-position: left;

        }

        .tel {
            display: grid;
            grid-template-columns: 131px;
            margin-left: 50px;
            margin-top: 10px;
        }

        .tel_span {
            color: #4E2D2D;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
        }

        .tel_btn {
            border: 1px solid #FD9339;
            border-radius: 4px;
            font-size: 12px;
            line-height: 18px;
            text-align: center;
            color: #FD9339;
            width: 136px;
            height: 30px;
        }
    }
}